[INTERRUPT] = enabled { # interrupt stuff
    @GENERAL_INTERRUPT_MAXCOUNT = 256   # maximum value of interrupt

} WARNING = "unusable function called : interrupt is disabled\n" # warning message should always be at the end of the 

[IST] = enabled {
    STACK_SIZE = 2048
}

[SEGMENTATION] = enabled {
    MAXCOUNT = 64

} WARNING = "unusable function called : segmentation is disabled\n"

HELLO_WORLD = "Hello, world!"