.vscode
*.workspace
*.obj
*.aobj
*.bin
*.elf
.gdb_history
bochsrc.txt
custom_vsprintf*
*.code-workspace
qemulog.txt
dummyfiles
dummyfiles/*
stub
bmp_format

bin/*.*
bin/*
image/
stub-module
mount
*.iso
*.img
Kernel.elf
Kernel.krn
image
log.txt
*.so
*.efi

gnu-efi
gnu-efi/*
memmap.txt
memory_layout.meml
vbox_debug.sh
