.vscode
*.workspace
*.obj
*.aobj
*.bin
*.elf
.gdb_history
bochsrc.txt
custom_vsprintf*
*.code-workspace
qemulog.txt
dummyfiles
dummyfiles/*
stub
bmp_format

image/
stub-module
mount
*.iso
*.img
Kernel.elf
Kernel.krn
image
log.txt
