.vscode
*.workspace
*.obj
*.aobj
*.bin
*.elf
.gdb_history
bochsrc.txt
custom_vsprintf*
qemulog.txt
dummyfiles
dummyfiles/*
stub
bmp_format

bin/*.*
bin/*
image/
stub-module
mount
*.iso
*.img
*.vhd
*.vdi
*.vmdk
Kernel.elf
Kernel.krn
image
log.txt
*.so
*.efi

memmap.txt
memory_layout.meml
vbox_debug.sh
