@@ARCHITECTURE_LIMIT = 0xFFFFFFFFFFFFFFFF
@@ARCHITECTURE_LIMIT_BITS = 64

@@INVALID = ARCHITECTURE_LIMIT

[SEGMENTATION] = enabled {
     SEGMENT_MAXCOUNT = 64
     TASKSEG_MODE = 1
} WARNING = "Unused function called : segmentation is disabled\n"

[INTERRUPT] = enabled {

     GENERAL_MAXCOUNT = 256

} WARNING = "Unused function called : interrupt is disabled\n"

[IST] = enabled {
     
     SIZE = 2048

}
